<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="rmsid2.Properties.Settings.rmsidConnectionString"
            connectionString="Server=DESKTOP-C27B91F,1433;Database=rmsid;User Id = saadkhan; Password=saad; "
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>